{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('app_company_index') }}" class="btn btn-info" style="margin-bottom: 5px;"><i class="glyphicon glyphicon-backward"></i> To list</a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
